Options -Indexes
AddDefaultCharset utf-8
Header set Access-Control-Allow-Origin "*"
<IfModule mod_rewrite.c>
	RewriteEngine On
	Options +FollowSymLinks -MultiViews
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^ index.php [QSA,L]
</IfModule>
